@import "./tailwind.css";

#section {
  max-width: 2000px;
}
.vh-55 {
  height: 55vh !important;
}

.vh-25 {
  height: 20vh !important;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #22c680; /*Set to match the Tailwind colour you want the active one to be */
}

#image {
  background: url("../public/assets/img/headerImg.png");
  background-size: cover;
  background-position: center;
}

.h-150vh {
  height: 150vh !important;
  height: calc(var(--vh, 1vh) * 100);
}

#welcomeImgSection {
  background: url("../public/assets/img/welcomeImg.jpeg");
  background-size: cover;
  background-position: center;
}

#blogOffer {
  background: url("../public/assets/img/welcomeImg.jpeg");
  background-size: cover;
  background-position: center;
}

.toBottom {
  z-index: -1 !important;
}

.toTop {
  z-index: 100 !important;
}

.h-100 {
  padding-top: 34rem !important;
  padding-bottom: 34rem !important;
}

.h-97 {
  padding-top: 20rem !important;
  padding-bottom: 20rem !important;
}

#nprogress .bar {
  background: #22c680 !important;
}

/* Icon 2 */

#nav-icon2 {
  width: 30px;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #525762;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 6px 6px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 6px 0 0 6px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 9px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 18px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 1px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 17px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 1px);
  top: 17px;
}
.tracking-lg{
  letter-spacing: 0.525rem;
}
   
